<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/main.css}" />
<title>Login- Admin</title>
</head>
<body>
<th:block th:include="/HomeHeader"></th:block>
		<form action="/connect/linkedin" method="POST">
			<input type="hidden" name="scope" value="r_basicprofile,r_emailaddress" />
			<button type="submit" class="btn btn-primary"> LinkedIn <span class="fa fa-linkedin"></span>
			</button>
		</form>
</body>
</html>