<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Register User</title>
</head>
<body>
<form action="/registerSuccess" method="post">
<table>
<tr><th>Enter the details</th></tr>
<tr><th>Name</th><th>:</th><th><input type="text" name="name"/></th></tr>
<tr><th>Mobile</th><th>:</th><th><input type="number" name="mobile"/></th></tr>
<tr><th>Email</th><th>:</th><th><input type="email" name="email"/></th></tr>
<tr><th>Password</th><th>:</th><th><input type="password" name="password"/></th></tr>
<tr><th></th><th></th><th><button><a href="/loginrequest" >Log In</a></button><input type="submit" value="Register"/></th></tr>
</table></form>
</body>
</html>